html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(51, 6, 6);
    color: #ffffff;
    margin: 50px 50px;
}

.author {
    font-size: 90px;
    color: rgb(219, 142, 26);
}

.author:hover {
    font-size: 100px;
    cursor: not-allowed;
}

.section-title {
    font-size: 40px;
    color: rgb(188, 143, 143);
}

/* Projects Section */
.projects {
    display: grid;
    /* grid-template-columns: 300px 2fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(2, 2fr 1fr);

}

.project {
    /* border: 1px solid rgb(255, 255, 255); */
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    background-color: rgb(168, 131, 137);
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;

    padding-left: 10px;
    padding-right: 10px;

    /* border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(255, 255, 255);

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(255, 255, 255); */

}

.project-title {
    font-size: 30px;
    color: rgb(121, 59, 85);
}

.project p {

    font-size: 20px;
}

.project a {
    color: rgb(228, 181, 111);
    font-weight: bold;
    text-decoration: none;
}

.project a:hover {
    font-weight: normal;
    /* text-decoration: overline; */
    border-top: 1px dashed rgb(219, 142, 26);

}
